/* Particles */

canvas {
	display: block;
} 

/* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #D5A4B2;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

/* Container */

.container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.img-container {
    display: grid;
    place-content: center;
}

.marti-img {
    border-radius: 50%;
    position: relative;
    transition: all 150ms linear;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 10vh;
    margin: 0 auto;
}

.buttons-container button {
    margin: 1% 3%;
    font-size: 1.5rem;
    padding: 2% 5%;
    width: fit-content;
    margin: 0 auto;
    color: #D5A4B2;
    border: none;
    border-radius: 50px;
    background: #4A081B;
}

@media only screen and (max-width: 768px) {
    .img-container {
        width: 85%;
        margin: 0 auto;
    }

    .marti-img {
        max-width: 100%;
        margin: 15% auto;
    }

    .buttons-container {
        width: 90%;
    }

    .buttons-container button {
        font-size: 1.25rem;
        padding: 5% 8%;
    }
}